@use '../foundation' as *;

.design {
 // .design__container
 &__container {
  @include container;

  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: rem(32);
  min-height: rem(520);

  &::before {
   position: absolute;
   right: 35%;
   bottom: 10%;
   width: rem(280);
   aspect-ratio: 1;
   background: url('@/images/common/star.svg') 0 0 no-repeat;
   transform: rotate(-24deg);
   content: '';

   @include t {
    display: none;
   }
  }

  @include bm {
   flex-direction: column;
   align-items: center;
   row-gap: rem(32);
  }
 }

 // .design__text-block
 &__text-block {
  position: relative;
  display: flex;
  flex-basis: rem(604);
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  row-gap: rem(24);

  @include bm {
   flex-basis: auto;
  }
 }

 // .design__text
 &__text {
  @include margin-block;
 }

 // .design__block-card
 &__block-card {
  position: relative;
  flex: 0 0 rem(551);
  align-self: flex-end;
  min-height: rem(348);
  transform-style: preserve-3d;
  perspective: rem(1000);

  @include bm {
   align-self: center;
  }

  @include l {
   flex: 0 1 auto;
  }
 }

 // .design__button
 &__button {
  &::after {
   display: none;
  }
 }

 // .design__img
 &__img {
  display: none;

  @include l {
   @include image;
  }
 }
}
