@use 'foundation' as *;

.accordion {
 position: relative;
 padding-right: rem(40);
 border-bottom: 1px solid var(--text-color);

 &::before,
 &::after {
  position: absolute;
  top: rem(35);
  right: rem(6);
  width: rem(16);
  height: rem(2);
  background-color: var(--text-color);
  transition: transform var(--transition);
  content: '';
 }

 &::after {
  transform: rotate(90deg);
 }

 // .accordion__btn
 &__btn {
  width: 100%;
  padding-inline: 0;
  padding-block: clamp(rem(16), vw(24, $t), rem(24));
  font-family: inherit;
  font-size: clamp(rem(18), vw(24, $t), rem(24));
  font-weight: 700;
  text-align: left;
  color: var(--white);
  background-color: transparent;
  border: none;
  cursor: pointer;
 }

 // .accordion__content
 &__content {
  overflow: hidden;
  max-height: 0;
  padding-bottom: 0;
  opacity: 0;
  transition: all var(--transition);
  will-change: max-height;

  .accordion-active & {
   padding-bottom: rem(20);
   opacity: 1;
  }
 }

 // .accordion__text
 &__text {
  @include margin-block;
 }
}

.accordion-active {
 &::after {
  transform: rotate(0deg);
 }
}
