@font-face {
 font-family: 'MPLUS1';
 font-weight: 400;
 font-style: normal;
 src: url('@/fonts/MPLUS1-Regular.woff2') format('woff2');
 font-display: swap;
}

@font-face {
 font-family: 'MPLUS1';
 font-weight: 500;
 font-style: normal;
 src: url('@/fonts/MPLUS1-Medium.woff2') format('woff2');
 font-display: swap;
}

@font-face {
 font-family: 'MPLUS1';
 font-weight: 700;
 font-style: normal;
 src: url('@/fonts/MPLUS1-Bold.woff2') format('woff2');
 font-display: swap;
}

@font-face {
 font-family: 'MPLUS1-code';
 font-weight: 700;
 font-style: normal;
 src: url('@/fonts/MPLUS1Code-Bold.woff2') format('woff2');
 font-display: swap;
}
