@use 'foundation' as *;

.footer {
 padding-block: rem(80);
 background: #2834303d;
 backdrop-filter: blur(rem(100));

 @include bm {
  margin-top: rem(-110);
  padding-block: rem(50);
 }

 // .footer__container
 &__container {
  @include container;

  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: rem(32);

  @include bt {
   grid-template-columns: repeat(4, 1fr);
  }

  @include t {
   grid-template-columns: repeat(3, 1fr);
  }

  @include bm {
   grid-template-columns: repeat(2, 1fr);
  }
 }

 // .footer__top
 &__top {
  @include bt {
   grid-column: 1/3;
   grid-row: 1/2;
  }
 }

 // .footer__logo
 &__logo {
  margin-bottom: rem(10);
 }

 // .footer__text
 &__text {
  @include margin-block;
 }

 // .footer__list
 &__list {
  @include list;

  @include bt {
   grid-row: 2/3;
  }

  @include t {
   &:last-child {
    grid-row: 3/4;
   }
  }

  @include bm {
   &:nth-child(3) {
    grid-row: 3/4;
   }
  }
 }

 // .footer__li
 &__li {
  &:not(:last-child) {
   margin-bottom: rem(8);
  }

  &:first-child {
   margin-bottom: rem(16);
   font-weight: 700;
   color: var(--white);
  }
 }

 // .footer__link
 &__link {
  @include link;
  @include hover-line;

  position: relative;

  // mixin link робить посилання блоковим, а лінія має бути лише під текстом
  display: inline;
 }
}
