$desktop: 1279.98;
$container: 1240;
$canvas: 1440;
$l: 1440.98;
$bt: 1199.98;
$t: 1023.98;
$st: 959.98;
$mobile: 799.98;
$bm: 767.98;
$m: 574.98;
$sm: 480.98;
$xsm: 424.98;
$xxsm: 390.98;
$small-mobile: 375;
